@model IEnumerable<DataAccess.DataAccess.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SercurityAnswer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SercurityAnswer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Username  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Username }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Username })
            </td>
        </tr>
}
    </tbody>
</table>
