@model IEnumerable<DataAccess.DataAccess.OrderList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBill)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.OrderId  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.OrderId  }) |
            </td>
        </tr>
}
    </tbody>
</table>
